body{
    margin: 0;
    background-color: #f7f7f7;
}
.warning{
    background-color: #ffc4c6;
    color: #a20606;
    padding: 10px;
    text-align: center;
}
.board{
    background: white;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 1px 1px 3px #e8e8e8; 
    border-radius: 5px;

}
.board__new-comment-form textarea{
    width: 100%;
}
.board__nickname{
    margin-bottom: 10px;
}